<template>
  <div>
    <p>
      <NuxtLink to="/">HomeNuxtLink</NuxtLink>&nbsp;
      <NuxtLink to="/something/">SomethingNuxtLink</NuxtLink>&nbsp;
      <a href="/">Home</a>&nbsp;
      <a href="/something/">Something</a>&nbsp;
      <a href="/staticA.html">Static A</a>&nbsp;
      <a href="/staticB.html">Static B</a>&nbsp;
    </p>
    <p>SOMETHING</p>
  </div>
</template>

<script lang="ts">
import { defineComponent } from 'vue';

export default defineComponent({
  data() {
    return {
    };
  },
});
</script>
